.input-field[type="text"], .input-field[type="date"], .select-field {
    width: 100%; 
    padding: 8px;
    margin: 5px 0 15px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; 
  }